# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [195]:
import pandas as pd
from sklearn import preprocessing, model_selection, metrics

In [149]:
df = pd.read_csv('census_data.csv')

In [150]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [151]:
df['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [152]:
lb = preprocessing.LabelBinarizer()
df['income_bracket'] = lb.fit_transform(df['income_bracket'])

In [153]:
df = df.dropna(axis=0)

In [154]:
cols_to_norm = ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']
df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [155]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,0.301370,State-gov,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.02174,0.0,0.397959,United-States,0
1,0.452055,Self-emp-not-inc,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00000,0.0,0.122449,United-States,0
2,0.287671,Private,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.00000,0.0,0.397959,United-States,0
3,0.493151,Private,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.00000,0.0,0.397959,United-States,0
4,0.150685,Private,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.00000,0.0,0.397959,Cuba,0

### Perform a Train Test Split on the Data

In [156]:
x_data = df.drop('income_bracket',axis=1)
labels = df['income_bracket']

In [157]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(x_data, labels, test_size=0.33, random_state=101)

In [158]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
941,0.246575,Private,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0.00000,0.0,0.397959,United-States
25762,0.589041,Self-emp-not-inc,Some-college,0.600000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00000,0.0,0.397959,United-States
3987,0.273973,Private,Bachelors,0.800000,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0.00000,0.0,0.295918,China
17851,0.191781,Private,Some-college,0.600000,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.00000,0.0,0.397959,United-States
12116,0.356164,Private,Some-college,0.600000,Married-civ-spouse,Craft-repair,Husband,White,Male,0.04064,0.0,0.377551,United-States

In [159]:
y_train.head()

941      0
25762    1
3987     0
17851    0
12116    0
Name: income_bracket, dtype: int32

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [160]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [82]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [161]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=df['workclass'].unique().size)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=df['education'].unique().size)
marital = tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=df['marital_status'].unique().size)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=df['occupation'].unique().size)
relation = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=df['relationship'].unique().size)
race = tf.feature_column.categorical_column_with_hash_bucket('race', hash_bucket_size=df['race'].unique().size)
country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=df['native_country'].unique().size)
gender = tf.feature_column.categorical_column_with_hash_bucket('gender', hash_bucket_size=df['gender'].unique().size)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [162]:
age = tf.feature_column.numeric_column('age')
edu_num = tf.feature_column.numeric_column('education_num')
gain = tf.feature_column.numeric_column('capital_gain')
loss = tf.feature_column.numeric_column('capital_loss')
hours = tf.feature_column.numeric_column('hours_per_week')

** Put all these variables into a single list with the variable name feat_cols **

In [163]:
feat_cols = [age, workclass, education, edu_num, marital, occupation, relation, race, gender, gain, loss, hours, country]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [164]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=10, num_epochs=1000, shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [165]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols,n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\aaleshin\AppData\Local\Temp\tmpm3t2knad
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\aaleshin\\AppData\\Local\\Temp\\tmpm3t2knad', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001B0E6904AC8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [166]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\aaleshin\AppData\Local\Temp\tmpm3t2knad\model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 93.4602
INFO:tensorflow:loss = 5.733841, step = 101 (1.081 sec)
INFO:tensorflow:global_step/sec: 167.788
INFO:tensorflow:loss = 2.819213, step = 201 (0.588 sec)
INFO:tensorflow:global_step/sec: 238.669
INFO:tensorflow:loss = 1.9702071, step = 301 (0.421 sec)
INFO:tensorflow:global_step/sec: 239.238
INFO:tensorflow:loss = 2.272835, step = 401 (0.417 sec)
INFO:tensorflow:global_step/sec: 250.631
INFO:tensorflow:loss = 7.0773754, step = 501 (0.401 sec)
INFO:tensorflow:global_step/sec: 228.316
INFO:tensorflow:loss = 5.916454, step = 601 (0.435 sec)
INFO:tensorflow:global_step/sec: 176.37
INFO:tensorflow:loss = 7.329547, step = 701 (0.567 sec)
INFO:tensorflow:global_step/sec: 181.823
INFO:tensorflow:loss = 3.704452, step = 801 (0.557 sec)
INFO:tensorflow:global_step/sec: 231.485
INFO:tensorflow:loss = 3.9607787, step = 901 (0.437 sec)
INFO:tensorflow:global_step/sec: 156.253
INFO:tensorflow:loss = 3.7087877, step = 1001 (0.632 sec)
INFO:tensorflow:global_step/sec: 177.308
INFO:tensorflow:loss = 3.5270343, step = 1101 (0.572 sec)
INFO:tensorflow:global_step/sec: 151.518
INFO:tensorflow:loss = 3.5040615, step = 1201 (0.652 sec)
INFO:tensorflow:global_step/sec: 252.53
INFO:tensorflow:loss = 5.9884496, step = 1301 (0.393 sec)
INFO:tensorflow:global_step/sec: 176.682
INFO:tensorflow:loss = 7.782056, step = 1401 (0.567 sec)
INFO:tensorflow:global_step/sec: 246.917
INFO:tensorflow:loss = 1.5828056, step = 1501 (0.407 sec)
INFO:tensorflow:global_step/sec: 246.312
INFO:tensorflow:loss = 3.0694032, step = 1601 (0.404 sec)
INFO:tensorflow:global_step/sec: 255.76
INFO:tensorflow:loss = 6.7655935, step = 1701 (0.391 sec)
INFO:tensorflow:global_step/sec: 245.706
INFO:tensorflow:loss = 2.376464, step = 1801 (0.409 sec)
INFO:tensorflow:global_step/sec: 154.8
INFO:tensorflow:loss = 5.173091, step = 1901 (0.654 sec)
INFO:tensorflow:global_step/sec: 149.704
INFO:tensorflow:loss = 6.094492, step = 2001 (0.663 sec)
INFO:tensorflow:global_step/sec: 155.525
INFO:tensorflow:loss = 5.7231846, step = 2101 (0.637 sec)
INFO:tensorflow:global_step/sec: 208.772
INFO:tensorflow:loss = 4.694948, step = 2201 (0.479 sec)
INFO:tensorflow:global_step/sec: 171.529
INFO:tensorflow:loss = 1.919687, step = 2301 (0.587 sec)
INFO:tensorflow:global_step/sec: 182.486
INFO:tensorflow:loss = 1.4890813, step = 2401 (0.549 sec)
INFO:tensorflow:global_step/sec: 154.324
INFO:tensorflow:loss = 4.1634917, step = 2501 (0.650 sec)
INFO:tensorflow:global_step/sec: 193.054
INFO:tensorflow:loss = 2.4933867, step = 2601 (0.511 sec)
INFO:tensorflow:global_step/sec: 204.504
INFO:tensorflow:loss = 2.9327106, step = 2701 (0.494 sec)
INFO:tensorflow:global_step/sec: 162.077
INFO:tensorflow:loss = 1.399559, step = 2801 (0.614 sec)
INFO:tensorflow:global_step/sec: 248.144
INFO:tensorflow:loss = 4.7748857, step = 2901 (0.405 sec)
INFO:tensorflow:global_step/sec: 221.243
INFO:tensorflow:loss = 3.50583, step = 3001 (0.451 sec)
INFO:tensorflow:global_step/sec: 251.263
INFO:tensorflow:loss = 4.805077, step = 3101 (0.402 sec)
INFO:tensorflow:global_step/sec: 255.757
INFO:tensorflow:loss = 2.0482283, step = 3201 (0.389 sec)
INFO:tensorflow:global_step/sec: 191.942
INFO:tensorflow:loss = 5.115367, step = 3301 (0.521 sec)
INFO:tensorflow:global_step/sec: 205.767
INFO:tensorflow:loss = 2.5975425, step = 3401 (0.483 sec)
INFO:tensorflow:global_step/sec: 191.941
INFO:tensorflow:loss = 5.6122127, step = 3501 (0.522 sec)
INFO:tensorflow:global_step/sec: 195.699
INFO:tensorflow:loss = 2.6621773, step = 3601 (0.510 sec)
INFO:tensorflow:global_step/sec: 210.087
INFO:tensorflow:loss = 5.3567314, step = 3701 (0.473 sec)
INFO:tensorflow:global_step/sec: 227.796
INFO:tensorflow:loss = 3.1577976, step = 3801 (0.452 sec)
INFO:tensorflow:global_step/sec: 190.48
INFO:tensorflow:loss = 1.3738146, step = 3901 (0.514 sec)
INFO:tensorflow:global_step/sec: 217.869
INFO:tensorflow:loss = 4.2421904, step = 4001 (0.456 sec)
INFO:tensorflow:global_step/sec: 233.103
INFO:tensorflow:loss = 5.60729, step = 4101 (0.435 sec)
INFO:tensorflow:global_step/sec: 166.948
INFO:tensorflow:loss = 4.815469, step = 4201 (0.598 sec)
INFO:tensorflow:global_step/sec: 50.6337
INFO:tensorflow:loss = 4.8517623, step = 4301 (1.972 sec)
INFO:tensorflow:global_step/sec: 209.213
INFO:tensorflow:loss = 3.2098, step = 4401 (0.477 sec)
INFO:tensorflow:global_step/sec: 194.935
INFO:tensorflow:loss = 3.300037, step = 4501 (0.513 sec)
INFO:tensorflow:global_step/sec: 180.182
INFO:tensorflow:loss = 2.9670322, step = 4601 (0.560 sec)
INFO:tensorflow:global_step/sec: 151.749
INFO:tensorflow:loss = 2.7968006, step = 4701 (0.654 sec)
INFO:tensorflow:global_step/sec: 206.615
INFO:tensorflow:loss = 5.15269, step = 4801 (0.484 sec)
INFO:tensorflow:global_step/sec: 246.918
INFO:tensorflow:loss = 10.923802, step = 4901 (0.405 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\aaleshin\AppData\Local\Temp\tmpm3t2knad\model.ckpt.
INFO:tensorflow:Loss for final step: 3.5891643.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [182]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test, y=y_test, batch_size=10, num_epochs=1, shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [183]:
results = model.predict(eval_input_func)

In [184]:
res = list(results)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\aaleshin\AppData\Local\Temp\tmpm3t2knad\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [193]:
class_ids = [result['class_ids'][0] for result in res]

In [194]:
class_ids

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 ...]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [199]:
y_pred = class_ids
target_names = ['class 0', 'class 1']
print(metrics.classification_report(y_test, y_pred, target_names=target_names))

             precision    recall  f1-score   support

    class 0       0.84      0.96      0.89      8161
    class 1       0.76      0.41      0.53      2585

avg / total       0.82      0.83      0.81     10746

# Great Job!